{% extends 'book/base.html' %}

{% block content %}
<div class="row">
    <div class="col-4 mt-4 d-flex">
        {% for review in reviews %}
    <article class="review border-2 pb-0 ml-5 w-75 rounded" style="background: #496d94">
        <div class="img">
            <img src="{{ review.image.url }}" alt="" class="rounded" style="width: 99.8%; height: 200px">
        </div>
        <div class="review-body px-2 py-1">
            <small class="d-flex"><b style="color: #bde8a8">{{ review.date_posted|date:"F d Y" }}</b>
            <b class="text-warning ml-auto mr-1">by- {{ review.user }}</b></small>
            <p class="desc pb-0 mb-0" style="color: white">
                {{ review.review }}#
            </p>
            <small>{{ review.rating }}</small>
        </div>
    </article>
    {% endfor %}
    </div>
</div>
{% endblock %}