{% extends 'book/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container w-75 mt-3">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend class="form-group border-bottom mb-3">Register</legend>
            {{ form|crispy }}
            <div class="submit-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </fieldset>
        <div class="border-top mt-2 mb-1">
           <small class="text-muted">Already have an account?<a href="#" class="ml-2">Sign In</a></small>
        </div>
    </form>
</div>
{% endblock %}